AddHandler x-mapp-php6 .php .htm
<Files news.txt>
	AddHandler x-mapp-php6 .txt
</Files>

<Files gdstats.db>
  order allow,deny
  deny from all
</Files>

Redirect 301 /indexFR.php /main-fr.html
Redirect 301 /contact.php /main-fr.html
Redirect 301 /contributeFR.php /main-fr.html
Redirect 301 /donateFR.php /main-fr.html
Redirect 301 /events.php /main-fr.html
Redirect 301 /fonctions.php /main-fr.html
Redirect 301 /jeux.php /main-fr.html
Redirect 301 /ide.php /main-fr.html
Redirect 301 /presentation.php /main-fr.html

Redirect 301 /contactEN.php /main.html
Redirect 301 /contribute.php /main.html
Redirect 301 /donate.php /main.html
Redirect 301 /eventsEN.php /main.html
Redirect 301 /fonctionsEN.php /main.html
Redirect 301 /jeuxEN.php /main.html
Redirect 301 /ideEN.php /main.html
Redirect 301 /presentationEN.php /main.html
